body {
    margin: 0;
    /* font-size: 3px !important; */
}

.main-div {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./Mask\ Group.png');
    background-size: cover;
    color: white;
    /* background-color: blue; */
    width: 100%;
    
   
}

.logo {
    background-color: #e0b973;
    color: #000000;
    font-size: 2vw;
    text-align: center;
    padding: 1.2vw;
    padding-top: 0;
    border-bottom-left-radius: 3.2vw;
    border-bottom-right-radius: 3.2vw;
    width: 13.3vw;
    height: fit-content;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

ul {
    margin-left: 50px;
}

li {
    display: inline-block;
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.4vw;
}

.welcome {
    font-size: 3.3vw;
}

.well {
    padding-left: 50px;
    margin-top: 50px;
}

.book {
    color: white;
    background-color: #e0b973;
    border: 0px;
    font-size: 1.6vw;
    border-radius: 8px;
    width: 16.6vw;
    text-align: center;
    /* margin: 20px; */
}

.btn {
    text-align: center;
}

.dropdown {
    color: black;
    background-color: white;
    width: 2.5vw;
    text-align: center;
    border-radius: 1.25vw;
    font-size: 2vw;
    margin: 0 auto;
}

.lux {
    display: flex;
    /* background-color: gold; */
    flex-direction: column;
    padding: 30px;
    font-size: 2vw;
    text-align: justify;
    grid-row-gap: 20px;
}

.lux-1, .lux-2 {
    /* width: 60px; */
    display: flex;
    border-left: 2px solid #14274a;
    color: #14274a;
    
    /* background-color: aqua; */
}

.pic, .txt {
    width: 50%;
    margin: 20px;
}

.pic {
    padding-top: 20px;
    /* border-left: 2px solid navy; */
}

.testimonials {
    color: #14274a;
    text-align: center;
    font-size: 2vw;
  
}

.skip {
    color: white;
    background-color: #e0b973;
    border: 0px;
    font-weight: 800;
    /* font-size: 10px; */
    border-radius: 4px;
    /* width: 100px; */
    text-align: center;
    /* margin: 20px; */
}

.draw {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0;
}

.triangle {
    width: 0;
    height: 0;
    border: 5vw solid transparent;
    border-top: 0;
    border-bottom: 5vw solid #14274a;
  }

.footer {
    background-color: #14274a;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 0;
    grid-gap: 0px 20px;
    padding: 10px;
    font-size: 1.4vw;
}

input[type="text"],input[type="email"] {
    border: 2px solid #e0b973;
    background-color: rgba(0,0,255,0);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 3px;
    
}

input[type="submit"] {
    border: 2px solid #e0b973;
    background-color: #e0b973;
    color: navy;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3px;
}

@media (max-width: 700px) {
    .navlink {
        font-size: 10px;
        
    }

    input[type="text"] {
        width:100px;
        font-size: 9px;
    }

    input[type="submit"] {
        font-size: 9px;
        
    }
}

@media (min-width: 900px) {
    .testimonials {
        font-size: 18px;
    }

    /* .logo {
        padding: 10px;
        padding-top: 5px;
    } */
}

@media (max-width: 325px) {
    input[type="text"] {
        width:80px;
        font-size: 9px;
    }

    input[type="submit"] {
        font-size: 9px;
        
    }

    .navlink {
        font-size: 7px;
    }
    
}


/* Section: Rooms */
#rooms-main {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./Mask\ Group\ \(2\).png');
}

.rooms, .facilities {
    text-align: center;
    color: #14274a;
}

.room-types, .facilities-types {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.room-types div {
    border: 2px solid #14274a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    
}

.room-types h2 {
    background-color: #14274a;
    margin-top: 0;
    color: white;
    padding: 10px;
}

#details {
    border: none;
    display: flex;
    justify-content: space-around;
}

.dis {
    border-radius: 50%;
    color: white;
    border: 0px;
    background-color: #e0b973;
}


/* Section: Facilities */
#facilities-main {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./Mask\ Group\ \(1\).png');
}

.facilities-types div {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    height: 50vw;
    background-size: cover;
    justify-content: end;
    text-align: center;
    margin-bottom: 30px;
}

.gym h2, .bar h2, .spa h2, .pool h2, .restaurant h2, .laundry h2 {
width: 45vw;
margin: 0 auto;
background-color: white;
border: none;
font-size: 3vw;
font-weight: 800;
color: #14274a;
border-radius: 1px;
}

.gym {
    background-image: url('./Group\ 42.png');
}

.bar {
    background-image: url('./bar.png');
}

.spa {
    background-image: url('./adetayo-adefala-1K2iQQM31D0-unsplash\ 1.png');
}

.pool {
    background-image: url('./big-tiny-belly-XtnNrQYC7ts-unsplash\ 1.png');
}

.restaurant {
    background-image: url('./jason-leung-poI7DelFiVA-unsplash\ 1.png');
}

.laundry {
    background-image: url('./bianca-jordan-o7SvheEZoks-unsplash\ 1.png');
}


/* Contact Us */

#contact-bg {
    background: #14274a;
    text-align: center;
    margin-bottom: 40px;
}

#contact-bg h1 {
    padding-bottom: 50px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    font-size: 2vw;
    padding-left: 4vw;
    padding-right: 4vw;
    color: #14274a;
}

#contact-box {
    width: 35vw;
    margin-bottom: 10px;
    border: 1px solid #14274a;
    border-radius: 0px;
}

.contact-btncon {
    text-align: right;
}

.contact-btn {
    background-color: #e0b973;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 8px;
    width: 15vw;
    text-align: center;
    font-size: 1.9vw;
}

.contact h1, .facilities h1, .rooms h1 {
color: #14274a;
font-size: 4vw;
padding-left: 4vw;
padding-right: 2vw;
}

.contact p, .facilities p, .rooms p {
    color: #14274a;
    font-size: 2vw;
    padding-left: 4vw;
    padding-right: 2vw;
}

